.card {
  color: #444034;
  font-family: "Fira Sans", sans-serif;
  height: 330px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 0px -6px 8px 0px rgba(0, 0, 0, 0.1),
  0px 6px 8px 0px rgba(0, 0, 0, 0.1), 6px 0px 8px 0px rgba(0, 0, 0, 0.1),
  -6px 0px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  background-clip: content-box;
  background-color: #302f34;
  background-size: cover;
  background-position: center;
}

.card-front {
  background: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.3),
    transparent 1px,
    rgba(0, 0, 0, 0.3) 2px
  );
  background-size: 3px 3px;
  background-color: #302f34;
  border-radius: 1px;
  height: 100%;
  left: 0;
  padding: 5%;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-front .layer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}
.card-front .layer h3 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 0 auto;
  padding: 6px 18px 4px;
  text-align: center;
}
.card-front .layer .corner {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-right: .18rem solid #fccd33;
  border-top: .18rem solid #fccd33;
  height: .8rem;
  position: absolute;
  width: .8rem;
}
.card-front .layer .corner:nth-of-type(1) {
  right: 0;
  top: 0;
}
.card-front .layer .corner:nth-of-type(2) {
  left: 0;
  top: 0;
  transform: rotateZ(-90deg);
}
.card-front .layer .corner:nth-of-type(3) {
  bottom: 0;
  left: 0;
  transform: rotateZ(180deg);
}
.card-front .layer .corner:nth-of-type(4) {
  bottom: 0;
  right: 0;
  transform: rotateZ(90deg);
}

.card-wrapper {
  height: 85%;
  perspective: 600px;
  position: relative;
  width: 100%;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fccd33;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}