.card-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  border: none;
  bottom: 0%;
  color: #fccd33;
  font-size: 24px;
  cursor: pointer;
  font-family: FontAwesome;
  outline: none;
}

.pass {
  left: 1%;
  background: none;
}

.pass::after {
  content: "\f1b7";
}

.pick {
  right: 1%;
  background:none;
}

.pick::after {
  content: "\f054";
}

.pick:hover::after, .pass:hover::after {
  animation: iconBounce .57s infinite;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }
  
   50% {
    font-size: 28px;
  }
  
  100% {
    font-size: 24px;
  }

}