.footer {
  min-height: 5rem;
  background: #49484e;
  position: relative;
  text-align: center;
  color: white;
  padding:6px;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #2e2d31;
  color: white;
}
